/*selectores*/
/* {
margin: 0;
padding: 0;
box-sizing: border-box;
  }
 */ 

header{
    background-color:#f2f5e0 ;
    background-image:linear-gradient(to left, rgb(214, 214, 155), aliceblue);
 }
    
body{
    background-color:aliceblue;
   /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    background-image:linear-gradient(to left, rgb(214, 214, 155), aliceblue);   
  }

.imgLogo{   
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
}

/*margin (interlineado) forma de contacto*/
.ulContacto li {margin-bottom:10px;
}


a{
    color:#dd7b54;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    border-radius: 1rem;
    background-color: #e4eff1;
    text-decoration: none;
}

nav ul{
    display:flex;
    justify-content: center;
}
 
nav ul li{
  list-style: none;
      padding: 0,3rem;
      margin: 1rem; 
      border-radius: 1rem;    
}
 
nav ul li a:hover{
     background-color:#c1dddd;     
        
}

nav ul li:hover{
  transform: scale(1.2);
  /*transform: rotate(10deg);*/
  
}

img:hover{
  transform: scale(1.1);
}
img{
  transition: 1s;
}
  

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows:auto;
    gap: 1em;
    
 }

 .imgPortada{
  width: 80%;
  height: 70%;
}
.galeria-imagen {
    /*border: 2px solid;*/
     
}

@media all and (min-width: 320px) {
    .galeria {
      grid-template-columns: repeat(1, 1fr);
    }
    .productos {
      grid-template-columns: repeat(1, 1fr);
    }
}
  
@media all and (min-width: 768px) {
    .galeria {
      grid-template-columns: repeat(3, 1fr);
    }
    .productos {
      grid-template-columns: repeat(3, 1fr);
    }
}
  
@media all and (min-width: 1024px) {
    .galeria {
      grid-template-columns: repeat(6, 1fr);
    }
    .productos {
      grid-template-columns: repeat(5, 1fr);
    }
}

h1 {
    font-size: 2rem;
    text-align:left;
    color:#dd7b54;
     }
   
h2 {
    text-align:center;
    color:#dd7b54;
}

h3 {
    text-align:center;
    color:#dd7b54;
}
   
.productos{
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: 150px 150px;
  grid-auto-flow: row dense;
  justify-content: center; 
  font-size: 0.8rem; 
}

#pieFotoProducto{
  text-align: center;
  font-weight: bold;
  color: #dd7b54;
}

footer{
  
    text-align: center;
    color: #dd7b54;
}


